<?php
/**
 * This file is part of the prooph/event-store-http-api.
 * (c) 2016-2017 prooph software GmbH <contact@prooph.de>
 * (c) 2016-2017 Sascha-Oliver Prolic <saschaprolic@googlemail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

declare(strict_types=1);

namespace Prooph\EventStore\Http\Api;

use Prooph\EventStore\PDO\IndexingStrategy\MySQLAggregateStreamStrategy;
use Prooph\EventStore\PDO\IndexingStrategy\MySQLSingleStreamStrategy;
use Prooph\EventStore\PDO\IndexingStrategy\PostgresAggregateStreamStrategy;
use Prooph\EventStore\PDO\IndexingStrategy\PostgresSingleStreamStrategy;

return [
    'dependencies' => [
        'factories' => [
            // choose one !!!
            //EventStore::class => 'Prooph\\EventStore\\PDO\\Container\\MySQLEventStoreFactory',
            //EventStore::class => 'Prooph\\EventStore\\PDO\\Container\\PostgresEventStoreFactory',
        ],
    ],
    'prooph' => [
        'event_store' => [
            'default' => [
                'connection_options' => [
                    'driver' => 'pdo_mysql',
                    'user' => 'root',
                    'password' => '',
                    'host' => '127.0.0.1',
                    'dbname' => 'event_store_http_api',
                    'port' => 3306,
                ],
                'message_factory' => GenericEvent:class,
                // choose one !!!
                //'indexing_strategy' => MySQLAggregateStreamStrategy::class,
                //'indexing_strategy' => MySQLSingleStreamStrategy::class,
                //'indexing_strategy' => PostgresAggregateStreamStrategy::class,
                //'indexing_strategy' => PostgresSingleStreamStrategy::class,
            ],
        ],
    ],
];
