<?php
/**
 * This file is part of the prooph/event-store-http-api.
 * (c) 2016-2017 prooph software GmbH <contact@prooph.de>
 * (c) 2016-2017 Sascha-Oliver Prolic <saschaprolic@googlemail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

declare(strict_types=1);

namespace Prooph\EventStore\Http\Api;

use Prooph\EventStore\EventStore;
use Prooph\EventStore\Pdo\Container\MariaDbProjectionManagerFactory;
use Prooph\EventStore\Pdo\Container\MariaDbEventStoreFactory;
use Prooph\EventStore\Pdo\Container\MySqlProjectionManagerFactory;
use Prooph\EventStore\Pdo\Container\MySqlEventStoreFactory;
use Prooph\EventStore\Pdo\Container\PdoConnectionFactory;
use Prooph\EventStore\Pdo\Container\PostgresEventStoreFactory;
use Prooph\EventStore\Pdo\Container\PostgresProjectionManagerFactory;
use Prooph\EventStore\Pdo\PersistenceStrategy\MariaDbAggregateStreamStrategy;
use Prooph\EventStore\Pdo\PersistenceStrategy\MariaDbSingleStreamStrategy;
use Prooph\EventStore\Pdo\PersistenceStrategy\MySqlAggregateStreamStrategy;
use Prooph\EventStore\Pdo\PersistenceStrategy\MySqlSingleStreamStrategy;
use Prooph\EventStore\Pdo\PersistenceStrategy\PostgresAggregateStreamStrategy;
use Prooph\EventStore\Pdo\PersistenceStrategy\PostgresSingleStreamStrategy;
use Prooph\EventStore\Projection\ProjectionManager;

return [
    'dependencies' => [
        'factories' => [
            // choose one !!!
            //EventStore::class => MariaDbEventStoreFactory::class,
            //EventStore::class => MySqlEventStoreFactory::class,
            //EventStore::class => PostgresEventStoreFactory::class,
            'pdo_connection' => PdoConnectionFactory::class,
        ],
    ],
    'prooph' => [
        'event_store' => [
            'default' => [
                'connection' => 'pdo_connection'
                'message_factory' => GenericEventFactory::class,
                // choose one !!!
                //'persistence_strategy' => MariaDbAggregateStreamStrategy::class,
                //'persistence_strategy' => MariaDbSingleStreamStrategy::class,
                //'persistence_strategy' => MySqlAggregateStreamStrategy::class,
                //'persistence_strategy' => MySqlSingleStreamStrategy::class,
                //'persistence_strategy' => PostgresAggregateStreamStrategy::class,
                //'persistence_strategy' => PostgresSingleStreamStrategy::class,
            ],
        ],
        'pdo_connection' => [
            'default' => [
                'schema' => 'mysql', // or 'pgsql'
                'user' => 'root',
                'password' => '',
                'host' => '127.0.0.1',
                'dbname' => 'event_store_http_api',
                'port' => 3306, // or 5432
            ],
        ],
    ],
];
